*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%
}

/* First home page parallax image */
.bgimg-1 {
    background-image: url("/jessicaguetre_website/images/theCheif1.jpg");
}

/* Second home page parallax image */
.bgimg-2 {
    background-image: url("/jessicaguetre_website/images/mountFrosty1.jpg");
    min-height: 400px;
}

/* About me page parallax image */
.bgimg-3 {
    background-image: url("/jessicaguetre_website/images/lakeAboveTheClouds1.jpg");
}

/* Academics page parallax image */
.bgimg-4 {
    background-image: url("/jessicaguetre_website/images/parliament.jpg");
}

/* Contact page parallax image */
.bgimg-5 {
    background-image: url("/jessicaguetre_website/images/garabaldi1.jpg");
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 800px) {
    .bgimg-1, .bgimg-2 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }

/* Container */
.container {
    position: relative;
}
 
/* Image */
.translucent-image, .clear-image {
    display: block;
    backface-visibility: hidden;
    transition: .5s ease;
}

/* Inline image */
.translucent-image {
    opacity: 0.7;
}

/* Translucent image becomes clear during hover */
.container:hover .translucent-image {
    opacity: 1;
}

/* Clear image */
.clear-image {
    border-radius: 4px;
    opacity: 1;
    width: 100%;
    height: auto;
}

/* Clear image becomes translucent during during hover */
.container:hover .clear-image {
    opacity: 0.3;
}

/* Text appearing in the middle of container */
.middle, .middle-transparent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
}

/* Transparent text appearing in the middle of a container */
.middle-transparent {
    opacity: 0;
}

/* Transparent text becomes opaque during hover */
.container:hover .middle-transparent {
    opacity: 1;
}

/* Text */
.text {
    color: #616161;
    font-size: 24px;
    padding: 16px 32px;
}

/* Button */
.submit-button, .resume-button, .topofpage-button {
    transition-duration: 0.4s;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    margin: 4px 2px;
}

/* Resume button and top of page button colour */
.resume-button, .topofpage-button {
    background-color: white;
    color: #616161;
}

/* Resume button size */
.resume-button {
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 8px;
}

/* Top of page button and submit button size */
.topofpage-button, .submit-button {
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 4px;
}

/* Resume button and top of page button hover colour */
.resume-button:hover, .topofpage-button:hover {
    background-color:#cccccc!important;
}

/* Submit button colour */
.submit-button {
    background-color: #404040;
    color: white;
}

/* Submit button hover colour */
.submit-button:hover {
    background-color:#616161!important;
}